<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Section</title>
</head>
<body>

<div th:fragment="show (section, modulesView, notesView)">

    <p th:text="${section.getName()}">NAME</p>

    <div th:each="module : ${modulesView}">
        <a th:href="@{/}"></a>
    </div>

    <div th:if="modulesView != null" th:insert="~{modules/fragments/index :: index (${modulesView}, ${notesView})}">
    </div>

    <br/><br/><br/><hr/>

    <form th:method="DELETE" th:action="@{/sections/{id} (id=${section.getId()})}">
        <input type="submit" value="Delete">
    </form>

</div>

</body>
</html>