<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Section</title>
</head>
<body>

<div th:fragment="show (section, modulesView)">

    <p th:text="${section.getName()}">NAME</p>
    <p th:text="${section.getId()}">ID</p>
    <p th:text="${section.getOwnerAccount()}">PERSON_ID</p>


    <form th:action="@{/sections/{id}/edit (id=${section.getId()})}" th:object="${section}">
        <input type="submit" value="Edit">
    </form>

    <div th:if="modulesView != null" th:insert="~{modules/fragments/index :: index (${modulesView})}">
    </div>

    <br/><br/><br/><hr/>

    <form th:method="DELETE" th:action="@{/sections/{id} (id=${section.getId()})}">
        <input type="submit" value="Delete">
    </form>

</div>

</body>
</html>