<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Note</title>
</head>
<body>

That's OK. I'm here.

<form th:method="POST"
      th:object="${note}"
      th:action="@{/sections/{sectionId}/modules/{moduleId}/notes (sectionId=${sectionId}, moduleId=${moduleId})}">
    <label for="dayNumber">Date Number</label>
    <input type="dayNumber" th:field="*{dayNumber}" id="dayNumber"><br/>
    <label for="text">Text</label>
    <input type="text" th:field="*{text}" id="text"><br/>
    <input type="submit" value="Add">
</form>

</body>
</html>