<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${account.getUserName()}">Title</title>
</head>
<body>

<div style="float: left; width: 10%; height: 850px; background: #cadaba; padding: 20px">

    <a th:href="@{/{userName}/settings (userName=${account.getUserName()})}"
       th:text="${account.getUserName()}"></a>

    <div th:if="sections != null"
         th:insert="~{sections/fragments/index :: index (${sections}, ${account.getUserName()})}">
    </div>


    <br/>
    <form th:action="@{/sections/new}">
        <input type="submit" value="Create">
    </form>

</div>

<div th:if="sectionView != null"
     style="float: left; width: 80%; height: 850px; background: #f5f5dc; padding: 20px">

    <p th:text="${sectionView.getName()}">NAME</p>

    <div th:each="module : ${modules}">
        <a th:href="@{/{userName} (userName=${account.getUserName()},
        tab=${sectionView.getId()}, module=${module.getId()})}"
           th:text="${module.getName()}">
            MODULE
        </a>
    </div>


    <br/>
    <table>
        <tbody>
        <tr>
            <td>
                <form th:action="@{/sections/{sectionId}/modules/new (sectionId=${sectionView.getId()})}">
                    <input type="submit" value="Add module">
                </form>
            </td>

            <td>
                <form th:action="@{/sections/{id}/edit (id=${sectionView.getId()})}" style="float: left">
                    <input type="submit" value="Edit">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <hr/>
    <div th:if="moduleView != null">
        <p th:text="${moduleView.getName()}">NAME</p>

        <table>
            <tbody>
            <tr th:each="note : *{notes}">
                <td>
                    <p th:text="${note.getDayNumber()} + ': ' + ${note.getText()}" th:id="note">
                        NOTE
                    </p>
                </td>

                <td>
                    <form th:for="note"
                          th:object="${note}"
                          th:action="@{/sections/{sectionId}/modules/{moduleId}/notes/{id}/edit
                      (sectionId=${sectionView.getId()},
                      moduleId=${moduleView.getId()},
                      id=${note.getId()})}">
                        <input type="submit" value="Edit">
                    </form>
                </td>

                <td>
                    <form th:for="note"
                          th:method="DELETE"
                          th:object="${note}"
                          th:action="@{/sections/{sectionId}/modules/{moduleId}/notes/{id}
                      (sectionId=${sectionView.getId()},
                      moduleId=${moduleView.getId()},
                      id=${note.getId()})}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <br/>
        <form th:action="@{/sections/{sectionId}/modules/{moduleId}/notes/new
        (sectionId=${sectionView.getId()}, moduleId=${moduleView.getId()})}">
            <input type="submit" value="Add note">
        </form>

        <br/><hr/>
        <form th:method="DELETE" th:action="@{/sections/{sectionId}/modules/{id}
        (sectionId=${sectionView.getId()}, id=${moduleView.getId()})}">
            <input type="submit" value="Delete">
        </form>
    </div>

</div>

</body>
</html>